In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./new_df.csv")

In [3]:
df

,value,label
0,반려동물의 종류에 대해서 알고 계신가요,네
1,키우는 반려동물이 있으신가요,네
2,연예인들의 이색 반려견에 대해서 어떻게 아시나요,연예인의 이색 반려 동물에 대해서 저의 제 개인적인 생각은 연예인들이 반려동물을 이...
3,반려동물과의 추억은 어떤 것을 가지고 있으신가요,저는 지금 현재 고양이 세 마리와 강아지 한 마리를 를 키우고 있는데 한 마리 마리...
4,반려동물을 키우기 위한 조건 세 가지가 있다면 어떤 것이 있다고 생각합니까,제가 생각하는 반려동물 키우기 위한 필요한 세 가지는 일단 반려동물을 사랑하는 마음...
...,...,...
25325,다른 과랑 모여서 듣는 교양 수업도 있다고 하셨는데 그렇게 된다면 여러 과 학생이 ...,그거는 교과목에 따라 다른 편인데 교과목에 따라 정원이 정해져 있어요
25326,고등학교 시험은 단순히 시험지를 푸는 것에 그치지만 대학교 시험은 서술형으로 자신의...,보통 중간고사 기말고사가 있고 보 그거는 교수님의 자유로 진행이 돼요
25327,또 고등학교와 대학교의 다른 점이 고등학교에서는 선생님 이라고 부르고 대학교에는 교...,정말 다양한 교수님이 있는데요
25328,어~ 그런 선배들이랑은 오티나 엠티 아니면 술자리에서 친해진다고 들었는데 그렇게 해...,저희 과는 술자리가 굉장히 많은 편이었어요
25329,대학교에는 다양한 장학금 제도가 진행되고 있다고 들었는데 장학금은 꼭 학점이 높은 ...,그렇지는 않아요

In [5]:
n =int(len(df)/2)
n

12665

In [6]:
df = df.head(n)
df

,value,label
0,반려동물의 종류에 대해서 알고 계신가요,네
1,키우는 반려동물이 있으신가요,네
2,연예인들의 이색 반려견에 대해서 어떻게 아시나요,연예인의 이색 반려 동물에 대해서 저의 제 개인적인 생각은 연예인들이 반려동물을 이...
3,반려동물과의 추억은 어떤 것을 가지고 있으신가요,저는 지금 현재 고양이 세 마리와 강아지 한 마리를 를 키우고 있는데 한 마리 마리...
4,반려동물을 키우기 위한 조건 세 가지가 있다면 어떤 것이 있다고 생각합니까,제가 생각하는 반려동물 키우기 위한 필요한 세 가지는 일단 반려동물을 사랑하는 마음...
...,...,...
12660,어~ 염소를 키우기 참 어려울 거 같은데 어떻게 키 키우게 된 계기가 있을까요,예
12661,그래서 음~ 저기 이제 동물을 아직 안 키우신다고 그랬는데 관심은 가시는 가지는데 ...,네
12662,이렇게 여러 종류의 키우기 힘드실 텐데 가장 힘든 부분은 어떤 부분이 있을까요,애완견을 키우면서 어~ 가장 힘든 부분은 아무래도 인제 애들한테 조금 매여 살아야 ...
12663,어~ 그러면 만약에 동물을 키우게 되시면 어떤 동물이 가장 키우고 싶으세요,네
12664,그래서 저는 이제 그렇게 개를 만약에 키우고 싶다면은 아마도 아파트를 조금 떠나서 ...,뭐 그렇죠

In [7]:
df.to_csv('./reduce_df.csv', index = False)